<div
	id="diff-container"
	class="hidden flex-1 min-h-0 bg-neutral-50 dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-800 rounded-lg overflow-hidden"
>
	<div
		id="diff-content"
		class="h-full overflow-auto text-[13px] font-mono py-2"
	/>
</div>

<style is:global>
	.token.operator {
		background: none !important;
	}
</style>
